.flex-container{
    background-image: url("img/marcozero.jpg");
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.flex-item1{
  align-self: center;
  
  
}
.flex-item2{
  
    align-self: center;
    align-items: end;
    margin-top: 100px;
}
span{
    color: white;
}
h1{
color: white;    
}
h2{
    background-color: white;
    
}
ul{
    background-color: white;
    font-size: x-large;
    
}
footer{
    background-color: white;

}
*{
    color: blue;
    border-radius: 5px;
    
}
